.Block10 {
  width: 70%;
  background-image: url("../../assets/img/Block10/Block10_fon.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 100% 70%;
  .Block10__wrapper {
    padding: 20px 20px 50px 20px;
    .Block10__bText {
      font-size: 40px;
      font-weight: 700;
      background: linear-gradient(
        180deg,
        rgb(0, 230, 222) 0%,
        rgb(0, 153, 173) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 15px;
    }
    .Block10__sbText {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    .Block10__row {
      display: flex;
      height: 400px;
      gap: 20px;
      margin-bottom: 50px;
      .Block10__column {
        padding: 40px 20px;
        border-radius: 30px;
        font-weight: 500;
        &:nth-child(1) {
          color: white;

          background: linear-gradient(
            355deg,
            rgb(0, 230, 222) 0%,
            rgb(0, 153, 173) 93%
          );
          .Block10__text__row {
            .Block10__tochka {
              background-color: white;
            }
          }
        }
        &:nth-child(2) {
          padding: 40px 0 40px 20px;
        }
      }
      .Block10__text__row {
        display: flex;
        gap: 15px;
        align-items: flex-start;
        margin-bottom: 25px;
        .Block10__tochka {
          margin-top: 8px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: black;

        }
        .Block10__text {
          max-width: 90%;
          font-size: 18px;
          span{
            font-size: 18px;
          }
        }
      }
    }
    .Block10__button {
      margin-top: 30px;
      text-align: center;
      button {
        font-weight: 600;
        padding: 20px;
        font-size: 20px;
        cursor: pointer;
        color: white;
        border: #00e6de;
        background: linear-gradient(
          193deg,
          rgb(0, 230, 222) 0%,
          rgb(0, 153, 173) 93%
        );
        border-radius: 10px;
        transition: 0.4s ease;
        &:hover {
          background: linear-gradient(
            193deg,
            rgb(4, 196, 189) 0%,
            rgb(4, 170, 192) 93%
          );
        }
      }
    }
  }
}
@media (max-width: 1160px) {
  .Block10 {
    .Block10__wrapper {
      .Block10__bText {
        font-size: 40px;
        font-weight: 800;
      }
      .Block10__sbText {
        font-size: 20px;
        font-weight: 500;
      }
      .Block10__row {
        height: 450px;
        .Block10__column {
          font-size: 18px;
          .Block10__text__row {
            .Block10__tochka {
              display: none;
            }
            .Block10__text {
              max-width: 100%;
              font-size: 18px;
              span{
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .Block10 {
    .Block10__wrapper {
      .Block10__bText {
        font-size: 30px;
        font-weight: 800;
      }
      .Block10__sbText {
        font-size: 20px;
        font-weight: 500;
      }
      .Block10__row {
        height: 400px;
        .Block10__column {
          .Block10__text__row {
            .Block10__text {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .Block10 {
    .Block10__wrapper {
      .Block10__bText {
        font-size: 30px;
        font-weight: 800;
      }
      .Block10__sbText {
        font-size: 20px;
        font-weight: 500;
      }
      .Block10__row {
        height: 400px;
        .Block10__column {
          .Block10__text__row {
            .Block10__text {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .Block10 {
    background-position: 100% 73%;
    background-size: 50%;
    .Block10__wrapper {
      .Block10__bText {
        font-size: 30px;
        font-weight: 800;
      }
      .Block10__sbText {
        font-size: 20px;
        font-weight: 500;
      }
      .Block10__row {
        height: 100%;
        flex-direction: column;
        .Block10__column {
          font-size: 18px;
          .Block10__text__row {
            .Block10__tochka {
              display: none;
            }
            .Block10__text {
              max-width: 100%;
              font-size: 18px;
              span{
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .Block10 {
    background-size: 40%;
    background-position: 100% 85%;
    .Block10__wrapper {
      .Block10__bText {
        font-size: 25px;
        font-weight: 800;
      }
      .Block10__sbText {
        font-size: 20px;
        font-weight: 500;
      }
      .Block10__row {
        align-items: center;
        margin-bottom: 0;
        
        .Block10__column {
          max-width: 500px;
          font-size: 18px;
          .Block10__text__row {
            .Block10__tochka {
              display: none;
            }
            .Block10__text {
              max-width: 100%;
              font-size: 18px;
              span{
                font-size: 18px;
              }
            }
          }
        }
      }
      .Block10__button {
        margin-top: 0;
        button {
          padding: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Block10 {
    width: 100%;
    background-size: 40%;
    background-position: 100% 75%;
    .Block10__wrapper {
      .Block10__bText {
        font-size: 22px;
        font-weight: 800;
      }
      .Block10__sbText {
        font-size: 20px;
        font-weight: 500;
      }
      .Block10__row {
        align-items: center;
        margin-bottom: 0;
        
        .Block10__column {
          max-width: 500px;
          font-size: 18px;
          .Block10__text__row {
            .Block10__tochka {
              display: none;
            }
            .Block10__text {
              max-width: 100%;
              font-size: 18px;
              span{
                font-size: 18px;
              }
            }
          }
        }
      }
      .Block10__button {
        margin-top: 0;
        button {
          padding: 10px;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .Block10 {
    background-image: none;
    .Block10__wrapper {
      .Block10__bText {
        font-size: 22px;
        font-weight: 800;
      }
      .Block10__sbText {
        font-size: 20px;
        font-weight: 500;
      }
      .Block10__row {
        margin-bottom: 0;
        .Block10__column {
          &:last-child {
            padding: 40px 20px 0px 20px;
          }
          .Block10__text__row {
            .Block10__tochka {
              display: none;
            }
            .Block10__text {
              max-width: 100%;
              font-size: 18px;
              span{
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
