.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}

.ql-size-small {
  font-size: 0.8em;
}
.ql-size-large {
  font-size: 1.4em;
}
.ql-size-huge {
  font-size: 1.8em;
}

.ql-container {
  max-height: 70vh;
  overflow-y: scroll;
}
