.Block7 {
  width: 70%;
  padding: 40px 20px;
  background-color: white;
  &_bText {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(
      180deg,
      rgb(0, 230, 222) 0%,
      rgb(0, 153, 173) 100%
    );
    // Градиентный фон
    -webkit-background-clip: text; // Задаем тексту свойство background-clip
    -webkit-text-fill-color: transparent; // Устанавливаем цвет текста как прозрачный
    margin-bottom: 30px;
  }
  &_row {
    display: flex;
    justify-content: space-between;
      button {
        max-width: 215px;
        display: block;
        cursor: pointer;
        margin-top: 50px;
        padding: 20px;
        border-radius: 10px;
        color: white;
        border: #00e6de;
        font-weight: 600;
        font-size: 20px;
        background: linear-gradient(
          193deg,
          rgba(0, 230, 222, 1) 0%,
          rgba(0, 153, 173, 1) 93%
        );
        border-radius: 10px;
        transition: background 0.4s ease;
        &:hover {
          background: linear-gradient(
            193deg,
            rgb(4, 196, 189) 0%,
            rgb(4, 170, 192) 93%
          );
        }
        :active {
          background: linear-gradient(
            193deg,
            rgb(4, 196, 189) 0%,
            rgb(4, 170, 192) 93%
          );
        }
     display: none;
      }
  }
  &_Price {
    max-width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_Info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    
      &_text {
        margin-bottom: 40px;
        font-size: 18px;
        font-weight: 400;
        span {
          background: linear-gradient(
            180deg,
            rgb(0, 230, 222) 60%,
            rgb(0, 153, 173) 99%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 800;
          font-size: 20px;
        }
      }
    }
  }
  ._OneBut {
    max-width: 215px;
    display: block;
    cursor: pointer;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    border: #00e6de;
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(
      193deg,
      rgba(0, 230, 222, 1) 0%,
      rgba(0, 153, 173, 1) 93%
    );
    border-radius: 10px;
    transition: background 0.4s ease;
    &:hover {
      background: linear-gradient(
        193deg,
        rgb(4, 196, 189) 0%,
        rgb(4, 170, 192) 93%
      );
    }
    :active {
      background: linear-gradient(
        193deg,
        rgb(4, 196, 189) 0%,
        rgb(4, 170, 192) 93%
      );
    }
  }
  &_Info_Block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 60%;
    background: linear-gradient(
      355deg,
      rgb(0, 230, 222) 0%,
      rgb(0, 153, 173) 93%
    );
    padding: 25px 20px;
    border-radius: 34px;
    color: white;
    h1{
     font-size: 20px;
     font-weight: 800;
     margin-bottom: 2%;
     
    }
    &_Element {
      font-size: 18px;
      margin-bottom: 20px;
      span {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    width: 100%;
    &_bText {
      font-size: 22px;
      font-weight: 800;
    }
    &_row {
      // Ваши стили для мобильных устройств
      flex-direction: column;
      button {
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 10px;
      }
    }
    &_Price {
      max-width: 100%;
      ._OneBut{
        display: none;
      }
      &_Info {
        &_text {
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: 400;
          span {
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
    
    }
    &_Info_Block {
      max-width: 100%;
      padding: 25px 20px;
      border-radius: 34px;
      color: white;
      h1{
        font-size: 22px;
        font-weight: 800;
       }
      &_Element {
        font-size: 18px;
        margin-bottom: 20px;
        span {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
  @media only screen and (min-width: 500px) and (max-width: 768px) {
    width: 100%;
    &_bText {
      font-size: 22px;
    }
    &_row {
      flex-direction: column;
      button {
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 10px;
        padding: 10px;
      }
    }
    &_Price {
      max-width: 100%;
      ._OneBut{
        display: none;
      }
      &_Info {
        &_text {
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 400;
          span {
            font-size: 18px;
          }
        }
      }
 
    }
    &_Info_Block {
      max-width: 100%;
      padding: 25px 20px;
      border-radius: 34px;
      color: white;
      h1{
        font-size: 22px;
        font-weight: 800;
       }
      &_Element {
        font-size: 18px;
        margin-bottom: 20px;
        span {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1000px) {
    // Ваши стили для планшетов
  
    &_row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      button {
        text-align: center;
        display: block;
        margin: auto;
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 10px;
        padding: 20px;
      }
    }
    &_bText {
      font-size: 25px;
    }
    
    &_Price {
      max-width: 100%;
      ._OneBut{
        display: none;
      }
      &_Info {
        &_text {
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 400;
          span {
            font-size: 18px;
          }
        }
      }
    }
    &_Info_Block {
      max-width: 100%;
      padding: 25px 20px;
      border-radius: 34px;
      color: white;
      h1{
        font-size: 25px;
        font-weight: 800;
       }
      &_Element {
        font-size: 18px;
        margin-bottom: 20px;
        span {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
  @media only screen and (min-width: 1000px) and (max-width: 1440px) {
    // Ваши стили для небольших ноутбуков и десктопов
    &_row {
      button {
     display: none;
      }
    }
    &_bText {
      font-size: 30px;
    }
    &_Price {
      max-width: 37%;
      ._OneBut{
        display: block;
      }
      &_Info {
        &_text {
          margin-bottom: 40px;
          font-size: 18px;
          font-weight: 400;
          span {
            font-size: 18px;
          }
        }
      }
      button {
        margin-top: 50px;
      }
    }
    &_Info_Block {
      max-width: 60%;
      padding: 25px 20px;
      border-radius: 34px;
      color: white;
      h1{
        font-size: 20px;
        font-weight: 800;
       }
      &_Element {
        font-size: 18;
        margin-bottom: 20px;
        span {
          font-size: 18;
          font-weight: 700;
        }
      }
    }
  }
}
