.Block2 {
  width: 70%;
  background-color: white;
  margin: auto;
  overflow: hidden;
  margin-bottom: 40px;
  .Block2__wrapper {
    padding: 10px 20px 50px 20px;
    .Block2__bText {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      background: linear-gradient(
        180deg,
        rgb(0, 230, 222) 0%,
        rgb(0, 153, 173) 100%
      );
      // Градиентный фон
      -webkit-background-clip: text; // Задаем тексту свойство background-clip
      -webkit-text-fill-color: transparent; // Устанавливаем цвет текста как прозрачный
      margin-bottom: 50px;
    }
    .Block2__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 80px;
      align-items: start;
      .Block2__cell {
        text-align: center;
        font-size: 18px;
        .Block2__img {
          margin-bottom: 10px;
          img {
            width: 70px;
            height: 70px;
          }
        }
      }
    }
    .Block2__button {
      margin-top: 30px;
      text-align: center;
      button {
        font-weight: 600;
        padding: 20px;
        font-size: 20px;
        cursor: pointer;
        color: white;
        border: #00e6de;
        background: linear-gradient(
          193deg,
          rgb(0, 230, 222) 0%,
          rgb(0, 153, 173) 93%
        );
        border-radius: 10px;
        transition: 0.4s ease;
        &:hover {
          background: linear-gradient(
            193deg,
            rgb(4, 196, 189) 0%,
            rgb(4, 170, 192) 93%
          );
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .Block2 {
    .Block2__wrapper {
  
      .Block2__grid {
        grid-column-gap: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        .Block2__cell {
          max-width: 300px;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .Block2 {
    .Block2__wrapper {
      .Block2__bText {
        font-size: 30px;
        text-align: start;
      }
      .Block2__grid {
        grid-column-gap: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        .Block2__cell {
          max-width: 300px;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .Block2 {
    .Block2__wrapper {
         .Block2__bText {
        font-size: 25px;
        text-align: start;
      }
      .Block2__grid {
        .Block2__cell {
          max-width: 230px;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .Block2 {
    .Block2__wrapper {
         .Block2__bText {
        font-size: 25px;
        text-align: start;
      }
      .Block2__grid {
        .Block2__cell {
          max-width: 230px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Block2 {
    margin-bottom: 0px;
    width: 100%;
    .Block2__wrapper {
      .Block2__button {
        button {
          padding: 10px;
        }
      }
      .Block2__bText {
        font-size: 22px;
        text-align: start;
      }
      .Block2__grid {
        .Block2__cell {
          max-width: 230px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .Block2 {
    margin-bottom: 0px;
    .Block2__wrapper {
      .Block2__bText {
        font-size: 23px;
        text-align: start;
      }
      .Block2__grid {
        grid-row-gap: 20px;
        grid-column-gap: 10px;
        .Block2__cell {
          .Blo .Block2__img {
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .Block2 {
    margin-bottom: 0px;
    .Block2__wrapper {
      margin-bottom: 40px;
      .Block2__bText {
        font-size: 22px;
        text-align: start;
      }
    }
  }
}
@media (max-width: 375px) {
  .Block2 {
    .Block2__wrapper {
      margin-bottom: 40px;
      .Block2__bText {
        font-size: 22px;
        text-align: start;
      }
    }
    .Block2__grid {
      grid-row-gap: 20px;
      grid-column-gap: 10px;
      .Block2__cell {
        font-size: 18px;
      }
    }
  }
}
