.Block2 {
  width: 70%;
  background-color: white;
  margin: auto;
  .Block2__wrapper {
    padding: 20px;
    .Block2__bText {
      text-align: center;
      font-size: 32px;
      background: linear-gradient(
        180deg,
        rgba(0, 230, 222, 1) 0%,
        rgba(0, 153, 173, 1) 100%
      );
      // Градиентный фон
      -webkit-background-clip: text; // Задаем тексту свойство background-clip
      -webkit-text-fill-color: transparent; // Устанавливаем цвет текста как прозрачный
      margin-bottom: 50px;
    }
    .Block2__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      align-items: start;
      .Block2__cell {
        text-align: center;
        .Block2__img {
          margin-bottom: 10px;
          img {
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .Block2 {
    .Block2__wrapper {
      .Block2__grid {
        grid-column-gap: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        .Block2__cell {
          max-width: 300px;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .Block2 {
    .Block2__wrapper {
      .Block2__grid {
        .Block2__cell {
          max-width: 230px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Block2 {
    width: 100%;
    .Block2__wrapper {
      .Block2__grid {
        .Block2__cell {
          max-width: 230px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .Block2 {
    .Block2__wrapper {
      .Block2__bText {
        font-size: 24px;
      }
      .Block2__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-row-gap: 20px;
      }
    }
  }
}
@media (max-width: 375px) {
  .Block2 {
    .Block2__wrapper {
      .Block2__bText {
        font-size: 22px;
      }
    }
  }
}
