.item2{
    background: linear-gradient(355deg, rgb(0, 230, 222) 0%, rgb(0, 153, 173) 93%);
    border-radius: 20px;
    padding: 20px;
    height: 460px;
    @media screen and (max-width:340px) {
        height: 590px;
    }
    margin: 0 10px;
}