// Отключение прокрутки у body при открытом модальном окне
body.modalOpen {
  overflow: hidden;
}
.Header {
  position: sticky;
  top: 0;
  z-index: 12;
  background: linear-gradient(
    180deg,
    rgba(0, 230, 222, 1) 0%,
    rgba(0, 153, 173, 1) 100%
  );
  .Header__wrapper {
    width: 70%;
    margin: auto;
    padding: 20px;
    .Header__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Header__logo {
        display: flex;
        align-items: center;
        max-width: 180px;
        cursor: pointer;
        font-weight: 600;
        color: white;
        img {
          max-width: 50px;
        }
      }
      .Header__info {
        min-width: 530px;
        display: flex;
        justify-content: space-between;
        .Header__info__text {
          font-size: 17px;
          cursor: pointer;
          color: #ffffff;
          font-weight: 500;
          height: 22px;
          .Header__info__underline {
            width: 0;
          }
          &:hover {
            .Header__info__underline {
              height: 3px;
              width: 100%;
              background: linear-gradient(
                180deg,
                rgb(0 252 243) 100%,
                rgb(0, 153, 173) 100%
              );
              transition: 0.3s ease;
            }
          }
        }
      }
      .Header__burger {
        display: none;
      }
    }
  }
}
@media (max-width: 1150px) {
  .Header {
    .Header__wrapper {
      .Header__row {
        .Header__info {
          min-width: 480px;
          .Header__info__text {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .Header {
    .Header__wrapper {
      .Header__row {
        .Header__info {
          display: none;
        }
        .Header__burger {
          display: block;
          .Header__burger__closed {
            cursor: pointer;
            // width: 50px;
            // height: 50px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            .Header__burger__line {
              position: relative;
              width: 25px;
              height: 2px;
              background-color: #ffffff;
              border-radius: 5px;
              &::after {
                position: absolute;
                bottom: 10px;
                content: "";
                width: 25px;
                height: 2px;
                background-color: #ffffff;
                border-radius: 5px;
              }
              &::before {
                position: absolute;
                top: 10px;
                content: "";
                width: 25px;
                height: 2px;
                background-color: #ffffff;
                border-radius: 5px;
              }
            }
          }
          .Header__modal {
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(
              180deg,
              rgba(0, 230, 222, 1) 0%,
              rgba(0, 153, 173, 1) 100%
            );
            ul {
              li {
                color: #ffffff;
                font-weight: 500;
                margin-bottom: 40px;
                font-size: 24px;
                list-style: none;
                &:nth-child(1) {
                  max-width: 150px;
                }
                &:nth-child(2) {
                  max-width: 115px;
                }
                &:nth-child(4) {
                  max-width: 70px;
                }
              }
            }
            .Header__burger__opened {
              position: absolute;
              top: 20px;
              right: 16.9%;
              height: 50px;
              width: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              .Header__burger__line {
                width: 25px;
                height: 2px;
                background-color: #ffffff;
                border-radius: 5px;
                transform: rotate(45deg);
                &::after {
                  position: absolute;
                  bottom: 0px;
                  content: "";
                  width: 25px;
                  height: 2px;
                  background-color: #ffffff;
                  border-radius: 5px;
                  transform: rotate(90deg);
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Header {
    .Header__wrapper {
      width: 100%;
      .Header__row {
        .Header__burger {
          .Header__modal {
            .Header__burger__opened {
              top: 20px;
              right: 20px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .Header {
    .Header__wrapper {
      .Header__row {
        .Header__burger {
          .Header__burger__opened {
            .Header__modal {
              justify-content: flex-start;
              padding-left: 50px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .Header {
    .Header__wrapper {
      .Header__row {
        .Header__burger {
          .Header__burger__opened {
            .Header__modal {
              justify-content: flex-start;
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .Header {
    .Header__wrapper {
      .Header__row {
        .Header__burger {
          .Header__burger__opened {
            .Header__modal {
              justify-content: center;
              padding-left: 0;
            }
            ul {
              li {
                &:nth-child(3) {
                  max-width: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 370px) {
  .Header {
    .Header__wrapper {
      .Header__row {
        .Header__burger {
          .Header__burger__opened {
            .Header__modal {
              justify-content: flex-start;
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}
