.Footer {
  background: linear-gradient(
    0deg,
    rgba(0, 191, 185, 1) 0%,
    rgba(0, 153, 173, 1) 100%
  );
  .Footer__wrapper {
    width: 70%;
    margin: auto;
    padding: 80px 20px;
    .Footer__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .Footer__column {
        display: flex;
        align-items: center;
        color: white;
        &:nth-child(1) {
          cursor: pointer;
          font-weight: 600;
          max-width: 200px;
        }
        &:nth-child(2) {
          text-align: right;
          max-width: 270px;
        }
        img {
          max-width: 70px;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .Footer {
    .Footer__wrapper {
      padding: 70px 20px;
    }
  }
}
@media (max-width: 768px) {
  .Footer {
    .Footer__wrapper {
      width: 100%;
    }
  }
}
@media (max-width: 550px) {
    .Footer {
      .Footer__wrapper {
        padding: 60px 20px;
        .Footer__row {
            flex-direction: column;
            gap: 30px;
        }
      }
    }
  }
  