.Block34 {
  width: 100%;
  margin: auto;
  padding: 20px 20px 50px 20px;
  background-position-y: 113px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  

  &_button {
    text-align: center;
    height: auto;
    margin-top: 30px;
    button {
      font-weight: 600;
      @media only screen and (max-width: 768px) {
        padding: 10px;
      }
      padding: 20px;
      font-size: 20px;
      cursor: pointer;
      color: white;
      border: #00e6de;
      background: linear-gradient(
        193deg,
        rgb(0, 230, 222) 0%,
        rgb(0, 153, 173) 93%
      );
      border-radius: 10px;
      transition: box-shadow 0.4s ease;
      &:hover {
        box-shadow: 1px 1px 20px #00E6De;
      }
    }
  }

  h1 {
    font-size: 40px;
    font-weight: 800;

   
    @media only screen and (max-width: 1800px) {
      margin-bottom: 100px;
    }
    @media only screen and (max-width: 1120px) {
      font-size: 30px;
      margin-bottom: 140px;
    }
    @media only screen and (max-width: 900px) {
      font-size: 25px;
      margin-bottom: 120px;
    }
    @media only screen and (max-width: 768px) {
      text-align: left;
      font-size: 22px;
      margin-bottom: 50px;
    }
    @media only screen and (max-width: 400px) {
      text-align: left;
      font-size: 22px;
      margin-bottom: 50px;
    }
    margin-bottom: 50px;
    text-align: center;
    background: linear-gradient(
      180deg,
      rgb(0, 230, 222) 0%,
      rgb(0, 153, 173) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &_Info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 80px;
    align-items: start;

    @media only screen and (max-width: 1600px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
      grid-column-gap: 10px;
      grid-row-gap: 180px;
}

@media only screen and (max-width: 1120px) {
  grid-row-gap: 140px;
}
@media only screen and (max-width: 768px) {
  grid-row-gap: 60px;
}
@media only screen and (max-width: 400px) {
  grid-row-gap: 0px;
}
    
    &_Element {
      text-align: center;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      @media only screen and (max-width: 768px) {
        &:last-child{
          grid-column: 1 / -1;
        }
      }
     
      img {
        margin-bottom: 20px;
        width: 70px;
        height: 70px;
        @media only screen and (max-width: 1120px) {
          width: 100px;
          height: 100px;
        }
        @media only screen and (max-width: 860px) {
          width: 80px;
          height: 80px;
        }
      }

      span {
        font-size: 18px;
      }
    }
  }

  // @media (max-width: 1580px) {
  //   // width: 90%;

  //   &_Info {
  //     // grid-template-columns: repeat(2, 1fr);
  //     // grid-template-rows: repeat(4, 1fr);

  //     &_Element {
  //       // margin-bottom: 30px;
  //     }
  //   }
  // }

  // @media (max-width: 480px) {
  //   padding: 30px 10px 80px 10px;

  //   // &_Info {
  //   //   grid-template-columns: repeat(4, 1fr);
  //   //   grid-template-rows: repeat(2, 1fr);
  //   // }
  // }
}
