.Block34 {
  width: 70%;
  padding: 30px 20px 100px 20px;
  // background-image: url("../../assets/img/Background/back2.png");
  background-position-y: 113px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  &_button {
    margin-top: 30px;
    text-align: center;
    button {
      margin-top: 50px;
      font-weight: 600;
      padding: 20px;
      font-size: 20px;
      cursor: pointer;
      color: white;
      border: #00e6de;
      background: linear-gradient(
        193deg,
        rgb(0, 230, 222) 0%,
        rgb(0, 153, 173) 93%
      );
      border-radius: 10px;
      transition: box-shadow 0.4s ease;
      &:hover {
        box-shadow: 1px 1px 20px #00E6De;
      }
    }
  }
  @media screen and (min-width: 1470px) {
    height: 1200px;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    background: linear-gradient(
      180deg,
      rgb(0, 230, 222) 0%,
      rgb(0, 153, 173) 100%
    ); // Градиентный фон
    -webkit-background-clip: text; // Задаем тексту свойство background-clip
    -webkit-text-fill-color: transparent; // Устанавливаем цвет текста как прозрачный
  }

  &_Info {
    margin: 70px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // flex-direction: column;

    &_Element {
      display: flex;
      width: 400px;
      height: 270px;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 50px;

      img {
        max-width: 100px;
        height: 100px;
      }

      span {
        font-size: 23px;
      }
    }
  }

  @media only screen and (max-width: 440px) {
    // Ваши стили для мобильных устройств
    padding: 20px 20px 40px 20px;
    background-image: none;
    width: 100%;
    &_button {
      button {
        padding: 10px;
      }
    }
    h1 {
      text-align: start;
      font-size: 22px;
      font-weight: 700;
    }

    &_Info {
      max-width: 100%;
      margin-top: 25px;

      &_Element {
        margin-bottom: 15px;

        img {
          max-width: 45px;
          margin-right: 5px;
        }

        span {
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
  }
 

  @media only screen and (min-width: 440px) and (max-width: 768px) {
    // Ваши стили для планшетов
    padding: 20px 20px 40px 20px;
    background-image: none;
    width: 100%;
    &_button {
      button {
        padding: 10px;
      }
    }
    h1 {
      font-size: 22px;
      text-align: start;
    }

    &_Info {
      max-width: 100%;
      margin-top: 25px;

      &_Element {
        margin-bottom: 15px;

        img {
          max-width: 45px;
          margin-right: 5px;
        }

        span {
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 900px) {
    // Ваши стили для небольших ноутбуков и десктопов
    padding: 20px 20px 30px 20px;
    background-image: none;
    h1 {
      font-size: 25px;
    }

    &_Info {
      max-width: 100%;
      margin-top: 25px;

      &_Element {
        margin-bottom: 25px;

        img {
          max-width: 39px;
          margin-right: 20px;
        }

        span {
          font-size: 18px;
        }
      }
    }
  }

  @media only screen and (min-width: 900px) and (max-width: 1020px) {
    // Ваши стили для небольших ноутбуков и десктопов
    padding: 20px 20px 6px 20px;

    h1 {
      font-size: 30px;
    }

    &_Info {
      max-width: 60%;
      margin-top: 25px;

      &_Element {
        margin-bottom: 20px;

        img {
          max-width: 39px;
          margin-right: 20px;
        }

        span {
          font-size: 18px;
        }
      }
    }
  }

  @media only screen and (min-width: 1020px) and (max-width: 1120px) {
    height: auto;
    // Ваши стили для небольших ноутбуков и десктопов
    h1 {
      font-size: 30px;
    }

    &_Info {
      max-width: 60%;
      margin-top: 70px;

      &_Element {
        margin-bottom: 20px;

        img {
          max-width: 43px;
        }

        span {
          font-size: 18px;
        }
      }
    }
  }

  @media only screen and (min-width: 1120px) and (max-width: 1220px) {
    // Ваши стили для небольших ноутбуков и десктопов
    padding: 20px 20px 70px 20px;
    &_Info {
      max-width: 50%;
      margin-top: 8c0px;

      &_Element {
        margin-bottom: 20px;

        img {
          max-width: 48px;
        }

        span {
          font-size: 18px;
        }
      }
    }
  }

  @media only screen and (min-width: 1220px) and (max-width: 1620px) {
    // Ваши стили для небольших ноутбуков и десктопов

    &_Info {
      max-width: 50%;
      margin-top: 60px;

      &_Element {
        margin-bottom: 30px;

        img {
          max-width: 65px;
        }

        span {
          font-size: 18px;
         
        }
      }
    }
  }

  @media only screen and (min-width: 1620px) and (max-width: 1820px) {
    // Ваши стили для небольших ноутбуков и десктопов
    background-position-x: -30px;
    &_Info {
      max-width: 50%;
      margin-top: 100px;

      &_Element {
        margin-bottom: 50px;

        img {
          max-width: 55px;
        }

        span {
          font-size: 20px;
        }
      }
    }
  }
}
