.item3 {
  font-weight: 500;
  border: 2px solid #00e6de;
  border-radius: 20px;
  padding: 20px;
  margin: 0 10px;
  span {
    background: linear-gradient(
      180deg,
      rgb(0, 230, 222) 0%,
      rgb(0, 153, 173) 100%
    );
    // Градиентный фон
    -webkit-background-clip: text; // Задаем тексту свойство background-clip
    -webkit-text-fill-color: transparent; // Устанавливаем цвет текста как прозрачный
    font-weight: 600;
  }
}
