.Block1 {
    width: 70%;
    display: flex;
    margin-top: 5%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 20px 0 20px;
    background-image: url('../../assets/img/Background/back1.png');
    background-size: 50%;
    background-position: 0% 100%;
    background-repeat: no-repeat;

    &_Info {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: auto;
        user-select: none;
        img{
            display: none;
            user-select: none;
        }
        span {
            font-size: 20px;
            height: 50%;
            margin-bottom: 40px;

            strong {
                font-size: 21px;
            }
        }
    }

    &_Img {
        width: 40%;

        // text-align: center;
        img {
            width: 300px;
        }
    }

    @media only screen and (max-width: 480px) {
        // Ваши стили для мобильных устройств
        width: 100%;
        background-size: 80%;
        background-position: -10% 100%;
        background-image: none;
        flex-direction: column-reverse;

        &_Info {
            width: 100%; 
            height: auto;
            flex-direction: column;
            &_Img{
                
                background: linear-gradient(193deg, rgba(0,230,222,1) 0%, rgba(0,153,173,1) 93%);
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 15px 0;
                img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                }
            }
            
            span {
                font-size: 13px;
                height: 10%;
                margin-bottom: 0;
                strong {
                    font-size: 14px;
                }
            }
            
        }

        &_Img {
            display: none;
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 571px) {
        // Ваши стили для планшетов
        width: 100%;
        background-size: 80%;
        background-position: -10% 100%;
        background-image: none;

        &_Info {
            width: 70%; 
            height: auto;

            span {
                font-size: 17px;
                height: 10%;

                strong {
                    font-size: 18px;
                }
            }
        }

        &_Img {
            width: 50%;
            text-align: center;

            img {
                width: 190px;
            }
        }
    }
    
    @media only screen and (min-width: 571px) and (max-width: 768px) {
        // Ваши стили для планшетов
        width: 100%;
        background-size: 80%;
        background-position: -10% 100%;
        background-image: none;

        &_Info {
            width: 70%;
            height: auto;

            span {
                font-size: 18px;
                height: 10%;

                strong {
                    font-size: 19px;
                }
            }
        }

        &_Img {
            width: 50%;
            text-align: center;

            img {
                width: 190px;
            }
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 800px) {
        // Ваши стили для небольших ноутбуков и десктопов

        background-size: 80%;
        background-position: -10% 100%;
        background-image: none;

        &_Info {
            width: 70%;
            height: auto;

            span {
                font-size: 18px;
                height: 10%;

                strong {
                    font-size: 19px;
                }
            }
        }

        &_Img {
            width: 30%;
            text-align: end;

            img {
                width: 140px;
            }
        }

    }
    @media only screen and (min-width: 800px) and (max-width: 990px) {
        // Ваши стили для небольших ноутбуков и десктопов

        background-size: 80%;
        background-position: -10% 100%;
        background-image: none;

        &_Info {
            width: 70%;
            height: auto;

            span {
                font-size: 17px;
                height: 50%;

                strong {
                    font-size: 19px;
                }
            }
        }

        &_Img {
            width: 40%;
            text-align: end;

            img {
                width: 190px;
            }
        }

    }
    @media only screen and (min-width: 990px) and (max-width: 1024px) {
        // Ваши стили для небольших ноутбуков и десктопов

        background-size: 80%;
        background-position: -10% 100%;

        &_Info {
            width: 70%;
            height: auto;

            span {
                font-size: 17px;
                height: 50%;

                strong {
                    font-size: 19px;
                }
            }
        }

        &_Img {
            width: 40%;
            text-align: end;

            img {
                width: 190px;
            }
        }

    }
    @media screen and (min-width: 1024px) and (max-width: 1100px) {
        // Ваши стили для средних и больших десктопов
        background-size: 80%;
        background-position: -10% 100%;

        &_Info {
            width: 70%;
            height: auto;

            span {
                font-size: 17px;
                height: 50%;

                strong {
                    font-size: 19px;
                }
            }
        }

        &_Img {
            width: 40%;
            text-align: end;

            img {
                width: 190px;
            }
        }
    }
    @media screen and (min-width: 1100px) and (max-width: 1200px) {
        // Ваши стили для средних и больших десктопов
        background-size: 65%;
        background-position: 0% 100%;

        &_Info {
            width: 60%;
            height: auto;

            span {
                font-size: 17px;
                height: 50%;

                strong {
                    font-size: 19px;
                }
            }
        }

        &_Img {
            width: 40%;
            text-align: center;

            img {
                width: 210px;
            }
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1300px) {
        // Ваши стили для средних и больших десктопов
        background-size: 65%;
        background-position: 0% 100%;

        &_Info {
            width: 60%;
            height: auto;

            span {
                font-size: 17px;
                height: 50%;

                strong {
                    font-size: 19px;
                }
            }
        }

        &_Img {
            width: 40%;
            text-align: center;

            img {
                width: 210px;
            }
        }
    }

    @media screen and (min-width: 1300px) and (max-width: 1400px) {
        // Ваши стили для средних и больших десктопов
        background-size: 65%;
        background-position: 0% 100%;

        &_Info {
            width: 50%;
            height: auto;

            span {
                font-size: 19px;
                height: 50%;

                strong {
                    font-size: 21px;
                }
            }
        }

        &_Img {
            width: 40%;

            img {
                width: 240px;
            }
        }
    }

    @media screen and (min-width: 1400px) and (max-width: 1600px) {
        // Ваши стили для средних и больших десктопов
        background-size: 70%;
        background-position: 0% 100%;

        &_Info {
            width: 50%;
            height: auto;

            span {
                font-size: 19px;
                height: 50%;

                strong {
                    font-size: 21px;
                }
            }
        }

        &_Img {
            width: 40%;
            text-align: center;

            img {
                width: 240px;
            }
        }
    }

    @media screen and (min-width: 1600px) and (max-width: 1920px) {
        // Ваши стили для средних и больших десктопов
        background-size: 70%;
        background-position: 0% 100%;

        &_Info {
            width: 40%;
            height: auto;

            span {
                font-size: 20px;
                height: 50%;

                strong {
                    font-size: 21px;
                }
            }
        }

        &_Img {
            width: 40%;
            text-align: center;

            img {
                width: 260px;
            }
        }
    }
}